<div class="item sign-in">
	<div class='item_list'>
		<h3>Sign in to your account</h3>
		<ul>
			<li>
		 	    <div class='border'>
		 	    	<input type="text" placeholder="Enter your email">
		 	    </div>
		 	</li>
		 	<li>
				<div class='border'>
 	     			<input type="password" placeholder="Password">
 	     		</div>
 	    	</li>
 	    	<li>
 	    		<div align='center'>
		 			<input type="submit" class="my-button" value="Sign In">
		 		</div>
	 		</li>
	 	</ul>
    	<div align='center'>
			<h4><a href="#">Forget Password?</a></h4>				  
		</div> 
		<div class="fb">
			<a href="#"><i><img src="Template/web/images/facebook.png" alt="" /></i>Sign in with facebook</a>
		</div>
	</div>
</div>
