<div id='rankSearchDiv' class='item'>
	<div class='item_list'>
		<h3>School Rankings</h3>
		<ul>
			<li>
				<select id='rankCitySelector'>
					<option selected="selected">Select City Name</option>
					<option value='1'>Delhi-NCR</option>
					<option value='2'>Agra</option>
					<option value='3'>Mathura</option>
					<option value='4'>Gwalior</option>
				</select>
			</li>
			<li>
				<select id='rankCriteriaSelector'>
					<option selected="selected">Select Rank Criteria</option>
					<option value='1'>Result %</option>
					<option value='2'>Student Strength</option>
					<option value='3'>Facilities</option>
					<option value='4'>Sports</option>
				</select>
			</li>
			<li>
 	    		<div align='center'>
		 			<input type="submit" disabled='disabled' class="my-button" value="Ranking">
		 		</div>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript" src="Template/web/js/ranking.js"></script>