<div class="item social_networks">
	<div class="item_list">
		<ul>
			<li class="mail"><a href="#"><i><img src="Template/web/images/mail-hover.png" alt="" /></i>Subscribe Newsletter<div class="clear"></div></a></li>
			<li class="facebook"><a href="#"><i><img src="Template/web/images/facebook_icon.png" alt="" /></i>Like us on Facebook<div class="clear"></div></a></li>
			<li class="twitter"><a href="#"><i><img src="Template/web/images/tweets.png" alt="" /></i>Follow us @ Twitter<div class="clear"></div></a></li>
			<li class="googleplus"><a href="#"><i><img src="Template/web/images/google+.png" alt="" /></i>+1 on Google+<div class="clear"></div></a></li>
		</ul>
	</div>	        
</div>   
