<div class="item social_network_likes">
	<div class="item_list">
		<ul style='display:inline-flex'>
			<li class="facebook"><a href="#"><i><img src="Template/web/images/facebook_icon.png" alt=""></i>248k</a></li>
			<li class="twitter"><a href="#"><i><img src="Template/web/images/tweets.png" alt=""></i>30k</a></li>
			<li class="googleplus"><a href="#"><i><img src="Template/web/images/google+.png" alt=""></i>124k</a></li>
			<li class="mail"><a href="#"><i><img src="Template/web/images/mail-hover.png" alt=""></i>89k</a></li>
			<div class="clear"></div>
		</ul>
	</div>
</div>